kind: Deployment
apiVersion: apps/v1
metadata:
  name: fastapi-dev-deployment
  labels:
    app: fastapi-dev
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fastapi-dev
  template:
    metadata:
      labels:
        app: fastapi-dev
    spec:
      containers:
        - name: fastapi
          image: 708735187026.dkr.ecr.us-east-1.amazonaws.com/dev_ecr_repo:v1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: APP_VERSION
              value: "v1.0.0"
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          